@font-face {
  font-family: "Messapia-bold";
  src: url("../fonts/Messapia-Bold.woff2") format("woff2"),
    url("../fonts/Messapia-Bold.woff") format("woff"),
    url("../fonts/Messapia-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Porpora";
  src: url("../fonts/Porpora-Regular.woff2") format("woff2"),
    url("../fonts/Porpora-Regular.woff") format("woff"),
    url("../fonts/Porpora-Regular.ttf") format("truetype");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Porpora", sans-serif;
  /* so that all REM measurements are based on 10px sizing */
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  cursor: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p {
  font-size: 3.2rem;
  line-height: 1;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Messapia-Bold", sans-serif;
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  cursor: none;
  background-color: transparent;
  color: inherit;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
